.instrument {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: grey;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    color: yellow;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    display: none;
}

.product span {
    display: block;
}

img {
    height: 200px;
    width: 300px;
}

body {
    background-color: black;
}

h1 {
    color: rgb(8, 211, 8);
    font-size: 60px;
    text-align: center;
    font-family: 'Orbitron', sans-serif; 
}

p {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

section{
    font-family: 'Orbitron', sans-serif;
    margin: 5px;
}